{% extends 'partials/base.html.twig' %}
{% set dateformat = admin.page.dateformat ?: config.system.pages.dateformat.short ?: "F d, Y" %}
{% set course = page.header.course %}
{% set sessions = course.sessions %}
{% block header %}
    {% if page.header.header_image %}
        {% set style = ' style="background-image: url(\'' ~ page.media.images[page.header.header_image].cache.url()  ~ '\')"' %}
    {% elseif theme_config.default_header_image %}
        {% set style = ' style="background-image: url(\'' ~ url('theme://img/' ~ theme_config.default_header_image)  ~ '\')"' %}
    {% else %}
        {% set style = '' %}
    {% endif %}
    <header class="intro-header" {{ style }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.header.subheading %}
                            <h2 class="subheading">{{ page.header.subheading }}</h2>
                        {% endif %}
                        {% include 'partials/course-subheading.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% set course_entries = page.collection({ items: '@self.children', 'order': {'by': 'date', 'dir': 'desc'}}) %}
                    <ul class="pager">
                        <li class="previous">
                            <a href="#course-dates">Show Course Dates</a>
                        </li>
                        <li class="next">
                            <a href="{{ course_entries|first.url}}">Register</a>
                        </li>
                    </ul>
                    {{ page.content }}
                    <h2 id="course-dates">Dates</h2>
                    {% if course_entries is empty %}
                        <p>Dates will be announced later</p>
                    {% else %}
                        {% include "partials/course-table.html.twig" with {'pages': course_entries } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}