{% extends 'partials/base.html.twig' %}
{% set dateformat = admin.page.dateformat ?: config.system.pages.dateformat.short ?: "F d, Y" %}
{% set course = page.header.course %}
{% set sessions = course.sessions %}
{% block header %}
    {% if page.header.header_image %}
        {% set style = ' style="background-image: url(\'' ~ page.media.images[page.header.header_image].cache.url()  ~ '\')"' %}
    {% elseif theme_config.default_header_image %}
        {% set style = ' style="background-image: url(\'' ~ url('theme://img/' ~ theme_config.default_header_image)  ~ '\')"' %}
    {% else %}
        {% set style = '' %}
    {% endif %}
    <header class="intro-header" {{ style }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.header.subheading %}
                            <h2 class="subheading">{{ page.header.subheading }}</h2>
                        {% endif %}
                        {% include 'partials/course-subheading.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="pager">
                        <li class="previous">
                            <a href="#course-dates">Show Course Dates</a>
                        </li>
                        <li class="next">
                            <a href="{{ page.children|first.url}}">Register</a>
                        </li>
                    </ul>
                    {{ page.content }}
                    <h2 id="course-dates">Dates</h2>
                    <table class="course-dates">
                        <thead>
                            <tr>
                                <th>Starts</th>
                                <th>Ends</th>
                                <th>Sessions</th>
                                <th>Status</th>
                                <th>More Infos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subpage in page.children %}
                                {% set course = subpage.header.course%}
                                <a href="{{subpage.url}}"></a>
                                <tr>
                                    <td>{{ course.sessions|first.time|date('d.m.Y') }}</td>
                                    <td>{{ course.sessions|last.time|date('d.m.Y') }}</td>
                                    <td>{{ course.sessions|length}}</td>
                                    {% if not course.registration_open %}
                                        <td>Registration closed</td>
                                    {% elseif date() > date(course.registration_end) %}
                                        <td>Registration period over</td>
                                    {% elseif date() < date(course.registration_start) %}
                                        <td>Registration starts
                                            {{course.registration_start|date(dateformat)}}</td>
                                    {% else %}
                                        <td>Registration ends
                                            {{course.registration_end|date(dateformat)}}</td>
                                    {% endif %}
                                    <td><a href="{{subpage.url}}">Details</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
{% endblock %}