<section class="history">
    <div class="container relative">
        {# <h2>Historie im Ueberblick</h2> #}
        <div class="timeline">
            
            {% for event in page.header.history %}
            <div class="event {% if loop.index is odd %}left{%else%}right{% endif %}">
                {% if event.reference %}
                <a href="{{event.reference}}">
                    <div class="event-details">
                        <h4 class="subtitle">{{event.date}}</h4>
                        <h3>{{event.title}}</h3>
                    </div>
                </a>
                {% else %}
                <div class="event-details">
                    <h4 class="subtitle">{{event.date}}</h4>
                    <h3>{{event.title}}</h3>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>